# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
ENV/
env/

# Behave / Reports
reports/*.html
reports/*.xml
reports/*.json
screenshots/*.png

# IDE / OS
.vscode/
.idea/
*.swp
*.swo
.DS_Store
Thumbs.db
